.sns-card {
  display: flex;
}

.sns-card:link,
.sns-card:visited,
.sns-card:hover,
.sns-card:active {
  color: black;
  text-decoration: none;
}

.sns-card > * {
  margin: 0 0.5rem;
}

.sns-card > div {
  align-self: center;
}

.title {
}

.sns-name {
  font-size: 1.5rem;
}

.user-name {
  font-size: 1rem;
  margin-left: 0.5rem;
}
